body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

p {
    font-size: 12px;
    color: #666;
}

a {
    text-decoration: none;
}

.content {
    width: 210mm;
    max-width: 210mm;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
}

.header-info {
    flex-grow: 1;
    text-align: left;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.job {
    font-weight: normal;
    color: #006699;
    margin: 0px;
}

.section {
    margin-bottom: 20px;
    opacity: 0;
    transform: translateY(0px);
}

.section-title {
    opacity: 0;
    transform: translateX(10px);
    display: flex; /* Active Flexbox pour le titre et le bouton */
    align-items: center; /* Centre verticalement le titre et le bouton */
    justify-content: space-between; /* Aligne le titre à gauche et le bouton à droite */
}
 
 
#download-cv-button {
  /* ... (vos Liens styles pour le bouton) ... */
    margin-left: 20px; /* Marge à gauche pour espacer le bouton du titre */
    background-color: #0080ca;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    vertical-align: middle;
    margin-left: 10px; /* Ajout d'une marge à gauche */
  
}

#download-cv-button:hover {
  background-color: #006699;
}

#download-cv-button i {
  font-size: 1.2em;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item {
    margin: 0px 0;
    padding: 10px;
    /*border-left: 5px solid #555;*/
    /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);*/
    font-size: 12px;
    opacity: 0;
    transform: translateY(10px);
}

.item img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
}

.item:nth-child(even) {
    background-color: #f9f9f9;
}

.item:nth-child(odd) {
    background-color: #eaeaea;
}

.item-title {
    font-weight: bold;
    text-transform: uppercase;
}

.item-info {
    font-size: 11px;
    color: #666;
}

.item a:hover {
    opacity: 0.7; /* Légère transparence au survol */
    /*  transform: scale(0.999); Légère variation de taille */
    transition: opacity 0.3s ease, transform 0.1s ease; /* Transition douce */
}

.item a {
    border-radius: 5px; /* Arrondit les coins */
    color: inherit; /* Reprend la couleur du texte parent */
    text-decoration: none; /* Supprime le soulignement */
}

a {
    color: #666;
}

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 10px; /* Réduit la marge inférieure */
    border-bottom: 1px solid #ccc; /* Bordure plus fine */
    padding-bottom: 5px; /* Réduit le padding inférieur */
}

.nav button {
    background: none;
    border: none;
    font-size: 14px; /* Taille de police réduite */
    margin: 0 10px; /* Marges latérales réduites */
    cursor: pointer;
    color: #666; /* Couleur plus discrète */
    padding: 3px 5px; /* Padding réduit */
    transition: color 0.3s;
}

.nav button:hover {
    color: #0080ca;
}

.nav button.active {
    color: #0080ca;
    font-weight: bold;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

.dates .event {
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #0080ca;
    background: #f2f2f2;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour l'image plein écran */
.fullscreen-image {
    position: fixed; /* Couvre tout l'écran */
    pointer-events: none; /* Empêche les clics sur l'image tant qu'elle n'est pas active */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Assure que l'image est au-dessus de tout */
    opacity: 0; /* Commence par être invisible */
    transition: opacity 0.3s ease; /* Transition pour l'apparition */
    cursor: pointer; /* Indique qu'on peut fermer l'image */
}

.fullscreen-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; /* Ajuste l'image à la taille de l'écran sans la déformer */
    cursor: default; /* Remet le curseur par défaut sur l'image */
}

.fullscreen-image.active {
    opacity: 1; /* Devient visible */
    pointer-events: auto; /* Permet les clics quand l'image est active */
}

.fullscreen-image.fade-out { /* Classe pour la disparition */
    opacity: 0;
    transition: opacity 0.3s ease; /* Transition pour la fermeture */
}

.gallery {
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer; /* Indique que les images sont cliquables */
}

.fullscreen-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.fullscreen-video.active {
    opacity: 1;
    pointer-events: auto;
}

.fullscreen-video iframe {
    width: 80%;
    height: 80%;
}

/* Styles pour les icônes des réseaux sociaux */
#liens .item-list i {
    font-size: 2em; /* Ajustez la taille des icônes */
    color: #333; /* Couleur des icônes */
    transition: color 0.3s ease; /* Transition pour la couleur au survol */
}

#liens .item-list img {
    font-size: 2em; /* Ajustez la taille des icônes */
    color: #333; /* Couleur des icônes */
    transition: color 0.3s ease; /* Transition pour la couleur au survol */
}

#liens .item-list a:hover i {
    color: #0080ca; /* Couleur au survol */
}
